---
title: Item
---

{% extends "layouts/_layout.html" %}

{% block content %}

<div class="block block-bs">

  <div class="content single-content clearfix">

    <h1 class="cnt-title">VIAGRA</h1>

    <p>Viagra is the most well-known treatment for adult men with erectile dysfunction, sometimes known as impotence. This is when a man cannot get, or keep a hard, erect penis suitable for sexual activity. Viagra is one of a class of drugs known as PDE-5 (Phosphodiesterase type 5) inhibitors. Viagra and the other PDE-5 inhibitors can help men with erectile dysfunction (male impotence) by enhancing the erectile response when a man is sexually stimulated.</p>

    <img src="img/cnt-1.png" style="float: left;margin-right: 24px">

    <blockquote>Viagra (sildenafil) tablets to treat erectile dysfunction available in  25mg, 50mg, and 100mg strengths.</blockquote>

    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem.</p>

  </div>

  <div class="filters">
    <div class="filter">
      <select>
        <option>Rating</option>
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="filter">
      <select>
        <option>Delivery time</option>
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="filter">
      <select>
        <option>Country</option>
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="filter">
      <select>
        <option>Payment</option>
        <option>1</option>
        <option>2</option>
      </select>
    </div>
  </div>

  <div class="table-wr">
    <table class="table shop-table single-shop-table">
      <thead class="thead-accent">
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Proce</th>
          <th scope="col">Shop</th>
          <th scope="col">Delivery</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(0,5) %}
        <!-- BEGIN store-table item -->
        <tr>
          <td scope="row" data-label="country" class="st-flag-td">
            <div class="st-flag {% if i == 0 or i == 1 %}st-best{% endif %}">
              {% if i == 0 %}<span class="st-best-cnt st-best-cnt-1">BEST OFFER</span>{% endif %}
              {% if i == 1 %}<span class="st-best-cnt st-best-cnt-2">BEST PRICE</span>{% endif %}
              <img src="img/flag-usa.png">
            </div>
          </td>
          <td data-label="name">
            <div class="st-name"><b>Viagra</b> (generic)</div>
            <ul>
              <li>25 mg</li>
              <li>50 mg</li>
              <li>100 mg</li>
            </ul>
          </td>
          <td data-label="price">
            <div class="st-name">&nbsp;</div>
            <ul>
              <li>$2.99/pill</li>
              <li>$1.78/pill</li>
              <li>$1.20/pill</li>
            </ul>
          </td>
          <td data-label="shop">
            <div class="st-thumb"><a href="#"><img src="img/shop.png"></a></div>
            <!-- BEGIN kk-star-ratings -->
            <div class="stars clearfix">
              <img src="img/stars.png" style="margin-right: 5px;"><span>4.85/5</span>
            </div>
            <!-- END kk-star-ratings -->
            <div class="st-info">
              <span class="st-icon st-icon-1 st-icon-active"></span>
              <span class="st-icon st-icon-2"></span>
              <span class="st-icon st-icon-3"></span>
              <span class="st-icon st-icon-4 st-icon-active"></span>
              <span class="st-icon st-icon-5"></span>
            </div>
          </td>
          <td data-label="delivery">
            <div class="st-delivery">2-5 days<span class="st-icon-d"></span></div>
          </td>
          <td>
            <a href="#" class="st-visit">Visit Store</a>
          </td>
        </tr>
        <!-- END store-table item -->
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="offers-more">
    <a href="#">Load more Offers</a>
  </div>

</div>

{% endblock %}